.form-login {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    z-index: 2;
}

.form-login input[type="login"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}